body {
    font-family: Arial;
    padding: 40px;
    background: #f2f2f2;
}

input, textarea {
    width: 300px;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background: black;
    color: white;
    border: none;
}