<link rel="stylesheet" href="/static/style.css">

<div class="navbar">Track Complaint</div>

<div class="container">
<div class="card">

<form method="POST">
    <input name="complaint_id" placeholder="Enter Complaint ID" required>
    <button type="submit">Track</button>
</form>

{% if data %}
    <h3>✅ Complaint Found</h3>

    <p><b>ID:</b> {{ data[1] }}</p>
    <p><b>Name:</b> {{ data[2] }}</p>
    <p><b>Complaint:</b> {{ data[9] }}</p>
    <p><b>Category:</b> {{ data[10] }}</p>
    <p><b>Subcategory:</b> {{ data[11] }}</p>
    <p><b>Reply:</b> {{ data[12] }}</p>

    {% if data[13] %}
        <p><b>Audio:</b></p>
        <audio controls>
            <source src="{{ data[13] }}" type="audio/webm">
        </audio>
    {% endif %}

{% elif request.method == 'POST' %}
    <p style="color:red;">❌ No complaint found</p>
{% endif %}

</div>
</div>